<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<%- include ('partials/header', { loggedIn: loggedIn }) %>
<%- include('partials/navbar', { active: 'null' }) %>    

    <!-- Profile Content -->
    <div class="profile-container">
        <h1>My Profile</h1>
        <div id="profileInfo">
            <!-- User information will be displayed here -->
        </div>
        <button id="editProfileButton" onclick="window.location.href='edit-profile'">Edit Profile</button>
        <form action="/users/delete" method="post">
            <button type="submit">Delete Profile</button>
          </form>    </div>
    <button id="logout-button">Log Out</button>

    <script src="/js/profile.js"></script>
</body>
</html>
